header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("../images/palma-catherdral.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  padding: 260px;
}
header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
}
header h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}
header h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;

  letter-spacing: 5px;
}
header a {
  font-weight: 700;
  font-size: 12px;

  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px 32px;
  gap: 10px;
  background-color: #ffffff;
  text-decoration: none;
  color: black;
}
footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/architecture.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
footer h4 {
  font-weight: 700;
  font-size: 20px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Poppins";
  line-height: 1;
}

.footer-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr 2fr;
}
.footer-content {
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 576px) {
  header {
    padding: 60px;
  }
  header h1 {
    font-size: 28px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 14px;
  }
  header a {
    font-size: 6px;
    padding: 5px 10px;
  }
}

@media (min-width: 576px) and (max-width: 1100px) {
  header {
    padding: 120px;
  }
  header h1 {
    font-size: 38px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 16px;
  }
  header a {
    font-size: 12px;
    padding: 5px 15px;
  }
}
